<section class="dino-breeding">
  <app-wild-dino-stats [stats]="(dinoGroup?.bestStats ?? null)"></app-wild-dino-stats>
  <div *ngFor="let dino of dinoGroup?.dinosaurs">
    <app-dino-stats (deleteDino)="deleteDino($event)" [dino]="dino"></app-dino-stats>
  </div>
  <app-add-dino></app-add-dino>
  <div *ngFor="let group of dinoGroup?.breedingGroups">
    <div>{{group.male.name}}</div>
    <div class="tmp" *ngFor="let female of group.females" fxLayout="row">
      <div>{{female.female.name}}</div>
      <div>{{female.maxDescendant.stamina}}</div>
      <div>{{female.maxDescendant.oxygen}}</div>
      <div>{{female.maxDescendant.food}}</div>
      <div>{{female.maxDescendant.weight}}</div>
      <div>{{female.maxDescendant.attack}}</div>
      <div>{{female.maxDescendant.speed}}</div>
      <div>{{female.maxDescendant.health}}</div>
    </div>
  </div>
</section>
