<form [formGroup]="dinoForm" fxLayout="row" (ngSubmit)="submit()">
  <input class="name" type="text" formControlName="name">
  <input type="text" formControlName="sex">
  <input type="number" formControlName="stamina">
  <input type="number" formControlName="oxygen">
  <input type="number" formControlName="food">
  <input type="number" formControlName="weight">
  <input type="number" formControlName="attack">
  <input type="number" formControlName="speed">
  <input type="number" formControlName="health">
  <button type="submit">Add</button>
</form>
