.wild-dino-stats {
  div {
    padding: 0.5rem;
    min-width: 3.5rem;
    border: #DDD 0.5px solid;
    font-size: 1.25rem;
  }

  .best-stat {
    background: #AADDAA;
    font-weight: 600;
  }

  .total-level {
    font-weight: 800;
  }
}
