.dino-stats {
  font-size: 1.25rem;

  .dino-name {
    width: 8rem;
    text-align: right;
  }

  div {
    padding: 0.5rem;
    min-width: 2rem;
    border: #DDD 0.5px solid;
  }

  .best-stat {
    background: #AADDAA;
  }

  button {
    margin: auto 0.5rem;
  }
}
